/* The main class for the page. */
* {
    background-color: black;
}

/* The HTML body seems to come with an auto margin that needs to be removed.*/
body {
    margin: 0px;
    padding: 0px;
}

/* Initializing fonts. */
@font-face {
    font-family: 'BungeeShade';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/BungeeShade-Regular.ttf') format('truetype');  
}

@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/VT323-Regular.ttf') format('truetype');  
}

@font-face {
    font-family: 'PressStart2P';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/PressStart2P-Regular.ttf') format('truetype');  
}

/* For desktop computers and tablets. */
@media screen and (min-width: 601px) {

    /* The class for the combined title and navigation bar. */
    .title_navbar {
        background-color: rgb(33, 33, 33);
        border-radius: 2.5vw;
        height: 27.5vw;
        left: 0;
        margin: 0 auto;
        margin-top: 50px;
        min-height: 315px;
        min-width: 550px;
        outline-color: white;
        outline-style: solid;
        outline-width: 2px;
        position: fixed;
        right: 0;
        text-align: center;
        width: 60vw;  
        z-index: 1000;  
    }

    /* The class for the title text. */
    .title_text {
        background: rgba(33, 33, 33, 0);
        color: yellowgreen;
        font-family: 'BungeeShade';
        font-size: max(7vw, 75px);
        line-height: max(8vw, 95px);
        position: relative;
        top: 2.5vw;
        text-align: center;

    }

    /* The class for each of the navigation buttons. */
    .navbar_button {
        background-color: rgb(33, 33, 33);
        border-radius: 1vw;
        color: white;
        font-family: "VT323";
        font-size: max(1.2vw, 12px);
        height: 4vw;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        margin-top: 5vw;
        min-height: 45px;
        min-width: 75px;
        outline-color: white;
        outline-style: solid;
        outline-width: 1px;
        width: 8vw;
    }

    /* Navbar button icons are deactivated in mobile version. */
    .navbar_button_image {
        display: none;
    }

    /* The class for the navbar text, which is used in desktop version.*/
    .navbar_button_text {
        background-color: transparent;
        display: block;
    }

    /* The class to declare hovering behaviour on navigation buttons. */
    .navbar_button:hover {
        background-color: white;
        color: purple;
        transition-duration: 0.4s;
    }

    /* The class for when a navigation button is clicked. */
    .navbar_button:active {
        background-color: darkgray;
        color: blue;
        transition-duration: 0.4s;
    }

    /* Class for the fixed clearance block for the navbar. */
    .navbar_clearance_block_fixed {
        color: black;
        height: calc(50px + 27.5vw + 10px);
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    /* Class for the relative clearance block for the navbar, used to adjust content below. */
    .navbar_clearance_block_relative {
        color: black;
        height: calc(50px + 27.5vw + 10px);
        position: relative;
        width: 100%;
        z-index: 999;
    }
}

/* For mobiles. */
@media screen and (max-width: 600px) {

    /* The class for the combined title and navigation bar. */
    .title_navbar {
        background-color: rgb(33, 33, 33);
        border-radius: 2.5vw;
        height: 65vw;
        left: 0;
        margin: 0 auto;
        margin-top: 25px;
        outline-color: white;
        outline-style: solid;
        outline-width: 2px;
        position: fixed;
        right: 0;
        text-align: center;
        width: 90vw;
        z-index: 1000;    
    }

    /* The class for the title text. */
    .title_text {
        background: rgba(33, 33, 33, 0);
        color: yellowgreen;
        font-family: "BungeeShade";
        font-size: 12.5vw;
        line-height: 15vw;
        position: relative;
        top: 7.5vw;
        text-align: center;

    }

    /* The class for each of the navigation buttons. */
    .navbar_button {
        align-items: center;
        background-color: rgb(33, 33, 33);
        border-radius: 1vw;
        color: white;
        height: 12.5vw;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        margin-top: 15vw;
        outline-color: white;
        outline-style: solid;
        outline-width: 1px;
        width: 12.5vw;
    }

    /* The class for the navbar icons, which are used in mobile version.*/
    .navbar_button_image {
        display: block;
        background-color: transparent;
        filter: invert(100%);
        height: 7.5vw;
        width: 7.5vw;
        margin: auto;
    }

    /* Navbar button text is deactivated in mobile version. */
    .navbar_button_text {
        display: none;
    }

    /* The class to declare hovering behaviour on navigation buttons. */
    .navbar_button:hover {
        background-color: white;
        transition-duration: 0.4s;
    }
    
    /* Class to alter the navbar button icon color when hovering over the button. */
    .navbar_button:hover .navbar_button_image{
        filter: brightness(0) saturate(100%) invert(7%) sepia(86%) saturate(5425%) hue-rotate(296deg) brightness(109%) contrast(107%);
        transition-duration: 0.4s;
    }

    /* The class for when a navigation button is clicked. */
    .navbar_button:active {
        background-color: darkgray;
        transition-duration: 0.4s;
    }

    /* Class to alter the navbar button icon color when clicking the button. */
    .navbar_button:active .navbar_button_image{
        filter: brightness(0) saturate(100%) invert(10%) sepia(99%) saturate(5636%) hue-rotate(244deg) brightness(98%) contrast(151%);
        transition-duration: 0.4s;
    }

    /* Class for the fixed clearance block for the navbar. */
    .navbar_clearance_block_fixed {
        color: black;
        height: calc(25px + 65vw + 10px);
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    /* Class for the relative clearance block for the navbar, used to adjust content below. */
    .navbar_clearance_block_relative {
        color: black;
        height: calc(25px + 65vw + 10px);
        position: relative;
        width: 100%;
        z-index: 999;
    }

}