/* For desktop computers and tablets. */
@media screen and (min-width: 601px) {

    /* The class for the combined title and navigation bar. */
    .title_navbar {
        display: block;
        height: 27.5vw;
        min-height: 315px;
        outline-width: 2px;
        position: relative;
    }

    /* The class for the title text. */
    .title_text {
        font-size: max(7vw, 75px);
        line-height: max(8vw, 95px);
        opacity: 1;
    }
    
    /* The class for each of the navigation buttons. */
    .navbar_button {
        display: inline;
        font-size: max(1.2vw, 12px);
        height: 4vw;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        min-height: 45px;
        min-width: 75px;
        opacity: 1;
        outline-width: 2px;
        width: 8vw;
    }

    /* Class for the fixed clearance block for the navbar, which is removed when there is no Javascript enabled. */
    .navbar_clearance_block_fixed {
        display: none;
    }

    /* Class for the relative clearance block for the navbar, which is removed when there is no Javascript enabled. */
    .navbar_clearance_block_relative {
        display: none;
    }

    /* The class for the whole About section. Using padding instead of margin in order to navigate effectively when there is no Javascript enabled. */
    .about_section {
        padding-top: max(5vw, 50px);
        margin-top: 2px;
    }

    /* The class for the About section image. */
    .about_section_image {
        min-width: 229.2px;
        outline-width: 2px;
        width: 25vw;
    }

}

/* For mobiles. */
@media screen and (max-width: 600px) {

    /* The class for the combined title and navigation bar. */
    .title_navbar {
        display: block;
        height: 65vw;
        min-height: 0px;
        outline-width: 2px;
        position: relative; 
    }

    /* The class for the title text. */
    .title_text {
        font-size: 12.5vw;
        line-height: 15vw;
        opacity: 1;
    }

    /* The class for each of the navigation buttons. */
    .navbar_button {
        display: inline;
        height: 12.5vw;
        margin-left: 1.25vw;
        margin-right: 1.25vw;
        margin-top: 15vw;
        opacity: 1;
        outline-width: 2px;
        width: 12.5vw;
    }

    /* The class for the navbar icons, which are used in mobile version.*/
    .navbar_button_image {
        height: 7.5vw;
        margin: auto;
        opacity: 1;
        width: 7.5vw;
    }
        
    /* Class for the fixed clearance block for the navbar, which is removed when there is no Javascript enabled. */
    .navbar_clearance_block_fixed {
        display: none;
    }

    /* Class for the relative clearance block for the navbar, which is removed when there is no Javascript enabled. */
    .navbar_clearance_block_relative {
        display: none;
    }

    /* The class for the whole About section. Using padding instead of margin in order to navigate effectively when there is no Javascript enabled. */
    .about_section {
        padding-top: max(10vw, 50px);
        margin-top: 2px;
    }

    /* The class for the About section image. */
    .about_section_image {
        min-width: 0px;
        outline-width: 2px;
        width: 80vw;
    }

}